Makefile
compile
Makefile.in
aclocal.m4
*.cache
config.guess
config.h
*~
config.h.in
*.log
config.status
config.sub
configure
depcomp
install-sh
libasyncns.pc
.deps
.libs
*.lo
*.o
*.la
libtool
ltmain.sh
missing
stamp-*
README
*.tar.gz
config.rpath
